<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/Email" method="POST">
        <input type="email" name="email" placeholder="input email" required>
        password: <input type="password" name="password" placeholder="input password" required>
        <button type="submit">Send OTP</button>
    </form>
</body>
</html>